@model IList<Person>
@{
    ViewBag.Title = "Summary";
}

<div class="container mt-5">
    <h2>@ViewBag.Title</h2>
    <table>
        <tbody>
            @foreach (var person in Model)
            {
                <partial name="Summary" model="person" />
            }
        </tbody>
    </table>

    <div class="about-author">
        <h3>About the Author</h3>
        <p>This form was created by Benjamin Casey.</p>
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary custom-button">Return to Home</a>
    
</div>